spring.datasource.url=jdbc:postgresql://${AwsRdsEndpoint}:5432/${IlimDbName}
spring.datasource.username=${AwsRdsUsername}
spring.datasource.password=${AwsRdsPassword}
spring.datasource.driver-class-name=org.postgresql.Driver

# JPA and Hibernate
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false

# Cognito
aws.cognito.userPoolId=${CognitoUserPoolId}
aws.cognito.clientId=${CognitoClientId}
aws.cognito.region=${CognitoRegion}
aws.cognito.jwkUrl=${CognitoJwkUrl}

# Kafka
spring.kafka.bootstrap-servers=localhost:9092
spring.kafka.consumer.group-id=ilim-backend-group
spring.kafka.consumer.auto-offset-reset=earliest
spring.kafka.consumer.key-deserializer=org.apache.kafka.common.serialization.StringDeserializer
spring.kafka.consumer.value-deserializer=org.apache.kafka.common.serialization.StringDeserializer
kafka.topic.payment=paymentQueue
  
# Other services
emailServiceUrl=http://localhost:8080/api/email/send
paymentServiceUrl=http://localhost:8081/api/checkout